@model List<SitioWebLp.Models.IndexViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="row">
        <div class="col">
            <hr class="tall">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h1 class="mb-0"><strong>Shop</strong></h1>
            <p>Showing 1–8 of 8 results.</p>
        </div>
    </div>

    <div class="masonry-loader masonry-loader-showing">
        <div class="row products product-thumb-info-list mt-3" data-plugin-masonry>

            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-lg-3 product">
                        <a href="shop-product-sidebar.html">
                            <span class="onsale">Sale!</span>
                        </a>
                        <span class="product-thumb-info">
                            <a href="shop-cart.html" class="add-to-cart-product">
                                <span><i class="fas fa-shopping-cart"></i> Add to Cart</span>
                            </a>
                            <a href="shop-product-sidebar.html"> 
                                <span class="product-thumb-info-image">
                                    <span class="product-thumb-info-act">
                                        <span class="product-thumb-info-act-left"><em>View</em></span>
                                        <span class="product-thumb-info-act-right"><em><i class="fas fa-plus"></i> Details</em></span>
                                    </span>
                                    <img alt="" class="img-fluid" src="@item.foto1">
                                </span>
                            </a>
                            <span class="product-thumb-info-content">
                                <a href="shop-product-sidebar.html">
                                    <h4>@item.nombre</h4>
                                    <span class="price">
                                        <del><span class="amount">@item.precioAnterior</span></del>
                                        <ins><span class="amount">@item.precio</span></ins>
                                    </span>
                                </a>
                            </span>
                        </span>
                    </div>
                }


            }



        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="pagination float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>              
            </ul>
        </div>
    </div>

</div>